# Ignore common media formats
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.webp
*.mp4
*.avi
*.mkv

# Ignore media/snapshot folders
media/
snapshots/
screenshots/

# Optional: ignore VS Code backup files and system files
.vscode/
*.log
.DS_Store
Thumbs.db


# Python
*.pyc
__pycache__/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
myenv/
venv/

# OS & IDE
.DS_Store
*.log
.idea/
.vscode/
